@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/* Reset CSS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(22, 22, 22);
    color: #fff;
    line-height: 1.6;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

p {
    font-weight:  300;
    font-size: 1.3em;
}

.text {
    margin-top: 1em;
    margin-bottom: 2em;

}

#cta {
    font-size: 1.2em;
}

.slider {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.slide {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}
.overlay {
    background: rgba(0, 0, 0, 0.37);
    position: absolute;
    z-index: 1;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
}

.slide .content {
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 60%;
    bottom: -1000px;
    transition: all 0.7s ease-in-out 0.3s;
}

.slide .content .transparent {
    opacity: 0;
}

.slide.current .content {
    transform: translateY(-1150px);
}

.buttons button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    transition: transform 0.3s ease-in-out;
}

.buttons button:hover {
    transform: scale(1.5);
}

.buttons button#prev {
    position: absolute;
    z-index:3;
    color: #fff;
    top:50%;
    left:5%;
    background-color: transparent;
}


.buttons button#next {
    position: absolute;
    z-index:3;
    color: #fff;
    top:50%;
    right:5%;
    background-color: transparent;

}

.menu {
    position: absolute;
    top: 5%;
    left: 0;
    width:100%;
    z-index:3;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    /* background: red; */
}

.menu p {
    font-weight: bold;
}

.menu button {
    background-color: transparent;
    color: #fff;
    border: none;

}

#music, #social {
    cursor: pointer;
    font-size: 1.5em;
}

.menu p, #social, #music {
    transition: transform 0.3s ease-in-out;
}

.transparent {
    opacity: 0;
}

/* .menu p:hover, #social:hover, #music:hover {
    transform: scale(1.5);
} */

.slide:first-child {
    background: url('https://user-images.githubusercontent.com/30352484/103486602-4ab04f80-4dff-11eb-97f2-9f20a95eb765.jpg') no-repeat center center/cover;
}

.slide:nth-child(2){
    background: url('https://user-images.githubusercontent.com/30352484/103486596-44ba6e80-4dff-11eb-8403-b76465762b3e.jpg') no-repeat center center/cover;

}

.slide:nth-child(3){
    background: url('https://user-images.githubusercontent.com/30352484/103486579-2ce2ea80-4dff-11eb-9c26-7d9f93c6efc8.jpg') no-repeat center center/cover;

}

.slide:nth-child(4){
    background: url('https://user-images.githubusercontent.com/30352484/103486580-32403500-4dff-11eb-9cc4-0f1864cce67e.jpg') no-repeat center center/cover;
}

.slide:nth-child(5){
    background: url('https://user-images.githubusercontent.com/30352484/103486587-38361600-4dff-11eb-9405-36aabaf3d092.jpg') no-repeat center center/cover;
}

.slide:nth-child(6){
    background: url('https://user-images.githubusercontent.com/30352484/103486594-3e2bf700-4dff-11eb-94bb-4488cd3bb6d0.jpg') no-repeat center center/cover;
}

